.wrapper {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  height: inherit;
}

.header {
  background-image: url(/img/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.section-header {
  height: 438px;
}
.header-container {
  background-color: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
.logo-text {
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}
.header-menu-container {
  display: flex;
  align-items: center;
}

.header-menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.header-menu-item {
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.header-menu-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.header-menu-link:hover {
  color: #14b9d5;
}
.button {
  background-color: #000;
  border-color: transparent;
}
.button-search {
  display: flex;
  background-color: #000000;
  padding: 30px;
}

.central-section {
  padding-bottom: 74px;
}
.central-link {
  color: #fff;
  text-decoration: none;
}
.central-title {
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 44px;
}
.central-button {
  color: #fff;
  font-weight: 700;
  padding: 20px 35px;
  background-color: #89ca62;
  border: 3px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px;
}
.cbtwo {
  background-color: #14b9d5;
}
.main {
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 auto;
}

.main-container {
  width: 1388px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.main-list-container {
  display: flex;
  flex-wrap: wrap;
}
.main-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}
.main-link {
  color: #18b4cf;
  text-decoration: none;
}
.main-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.main-list-item {
  background-color: #fff;
  margin: 10px;
}

.main-list-link {
  color: #353a3d;
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;

  text-align: center;

  color: #353a3d;
}
.clients-section {
  height: 588px;
  background-image: url(/img/parallax-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.clients-title {
  text-align: center;
  padding-top: 108px;
}
.clients-title-link {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}
.brands-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brands-list-item {
  margin: 190px auto;
}
.top-img {
  width: 100%;
}
.top-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.top-title-link {
  color: #18b4cf;
  text-decoration: none;
}
.top-list {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.top-list-item {
}
.top-list-link {
}
.top-img {
}

.news-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.news-title-link {
  color: #18b4cf;
  text-decoration: none;
}

.news-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.news-list-link {
  text-decoration: none;
}
.news-list-item {
}
.news-subtitle {
  color: #353a3d;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.news-text {
  color: #5b6469;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.footer {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-text {
  color: #fff;
}
/* titles move to one class  */
