.body {
  width: 1280px;
  margin: 0 auto;
}
.ramda-link {
  font-size: 80px;
  line-height: 94px;
  color: #000;
  text-decoration: none;
}
.ramda-color {
  color: #4bcaff;
}
.header-nav-menu {
  /* width: 100%; */
  text-align: center;
  margin-bottom: 50px;
}
.header-nav-menu-list {
  background-color: #35444f;
}
.header-nav-menu-link {
  text-decoration: none;
  color: #fff;
}
.header-nav-menu-item:hover {
  background-color: #222f3a;
}
.header-nav-menu-item {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  display: inline-block;
  background-color: #35444f;
  padding: 20px 40px;
  border: 1px solid #fff;
}
.main-container {
  display: flex;
}
.image-container {
  width: 885px;
  height: 529px;
  /* text-align: center; */
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-text {
  width: 70%;
  margin-left: 50px;
}
.aside-nav-menu {
  border: 1px solid #000;
  /* margin: 100px; */
  height: 400px;
  box-sizing: border-box;

  width: 30%;
}

.aside-nav-menu-list {
  list-style: none;
  padding: 10px;
}
.aside-nav-menu-item {
  font-size: 27px;
  line-height: 27px;
  padding: 15px;
}
.aside-nav-menu-link {
  text-decoration: none;
  color: #495863;
}

.aside-nav-menu-item:hover {
  background-color: #dbdbdb;
  color: #000;
}

/* .image {
  transition: 1s;
}

image:hover {
  transform: scale(1.2);
} */

.text {
  color: #2c2c2c;
  font-size: 18px;
  line-height: 24px;
  margin-top: 35px;
  margin-bottom: 0;
}

.footer-nav-menu {
  background: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}
.footer-nav-menu-item {
  display: inline-block;
  padding: 10px;
  font-size: 28px;
  line-height: 28px;
}
.footer-nav-menu-link {
  text-decoration: none;
  color: #0c1927;
}
.footer-nav-menu-link:hover {
  color: #3181a6;
  text-decoration: underline #3181a6;
}
.sign {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  text-align: right;
}
