body {
  background-image: url(/img/background\ 1.jpg);
}

.container {
  width: 1030px;
  margin: 0 auto;
}
.header {
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
}

.logo {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 46px;
}
.logo-link {
  text-decoration: none;
  display: block;
}
.logo-text {
  color: #fff;
  /* float: right; */
}
.logo-link {
  color: #fff;
  text-decoration: none;
}
.main {
  margin-top: 0px;
}
.main-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-list-item {
  padding-top: 38px;
  margin-left: ;
}
.main-list-link {
  text-decoration: none;
  color: #fff;
}
.footer {
  margin-top: 48px;
}
.footer-text {
  color: #fff;
  text-align: center;
}
