*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img,
picture,
canvas,
iframe,
svg {
  max-width: 100%;
}
.page-body {
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.menu-item {
  display: inline-block;
}
.menu-link {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
  margin-left: 50px;
}

.page-title {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 3.3px;
  color: #373737;
}
.text {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;

  /* height: 130px; */
}
.button-container {
  margin-top: 65px;
  /* margin-left: 545px;
  margin-right: 545px; */

  /* display: inline-block; */
}

.button-link {
  color: #fff;
  font-weight: 700;
  padding: 20px 35px;
  background-color: #ff0000;
  border: 3px solid #ff0000;
  border-radius: 4px;
  text-transform: uppercase;
}

.footer-container-right {
  text-align: right;
  margin-right: 80px;
  margin-bottom: 30px;
}
.footer-text {
  margin-top: 80px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 2.4px;
  color: #373737;
  text-align: right;
  padding-bottom: 30px;
}
